#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.faq-container {
  max-width: 600px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.faq-item h3 {
  margin: 0;
  font-size: 18px;
}

.faq-item p {
  margin: 10px 0 0;
}
